layout {
    cwd "/home/swarnendu"
    // Applied to every tab that already exists when the session starts and the
    // layout is loaded
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    // Start with a few tabs based on the default layout. We do not start with
    // more tabs because the titles could be long and the screen size could be
    // small.
    tab template="default_tab_template"
    tab template="default_tab_template"
    tab template="default_tab_template"
    // // Create tabs that run specific commands
    // tab name="Emacs" hide_floating_panes=true {
    //     pane focus=true close_on_exit=true {
    //         command "emacs"
    //         args "-nw"
    //     }
    // }
    // tab name="Git" {
    //     pane focus=true close_on_exit=true {
    //         command "lazygit"
    //     }
    // }
    // Specialize individual tabs that override the default layout
    // tab name="Tab #1" hide_floating_panes=true {
    //   pane focus=true
    //   pane size=1 borderless=true {
    //     plugin location="compact-bar"
    //   }
    // }
    // Applied only when the user opens new tabs manually
    new_tab_template {
        pane focus=true
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
}
