layout {
    default_tab_template {
        pane
        pane size=1 borderless=true {
            plugin location="zj-status" {
                color_bg "#282a36"
                color_fg "#f8f8f2"
                color_sel "#44475a"
                color_com "#6272a4"
                color_cyan "#8be9fd"
                color_green "#50fa7b"
                color_orange "#ffb86c"
                color_pink "#ff79c6"
                color_purple "#bd93f9"
                color_red "#ff5555"
                color_yellow "#f1fa8c"
                format_left "#[bg=$bg,fg=$cyan,bold] #[fg=$bg,bg=$cyan]#[bg=$bg,fg=$cyan,bold] #[bg=$bg,fg=$purple]#[bg=$purple,fg=$bg]󱂬 {session}#[bg=$bg,fg=$purple] {mode}#[bg=$bg] {tabs}"
                format_center ""
                format_right "#[bg=$bg,fg=$pink]#[fg=$bg,bg=$pink] #[bg=$sel,fg=$pink] {command_host} {command_host_os_icon}#[bg=$bg,fg=$sel]"
                format_space "#[bg=$bg]"
                format_hide_on_overlength "true"
                format_precedence "lrc"
                border_enabled "true"
                border_char "─"
                border_format "#[bg=$sel]{char}"
                border_position "top"
                hide_frame_for_single_pane "false"
                hide_frame_except_for_scroll "false"
                hide_frame_except_for_search "false"
                hide_frame_except_for_fullscreen "false"
                mode_locked "#[bg=$red,fg=$bg]  LOCKED #[bg=$bg,fg=$red]"
                mode_normal "#[bg=$green,fg=$bg]  NORMAL #[bg=$bg,fg=$green]"
                mode_pane "#[bg=$cyan,fg=$bg]  PANE #[bg=$bg,fg=$cyan]"
                mode_tab "#[bg=$purple,fg=$bg] 󰓩 TAB #[bg=$bg,fg=$purple]"
                mode_scroll "#[bg=$cyan,fg=$bg]  SCROLL #[bg=$bg,fg=$cyan]"
                mode_enter_search "#[bg=$orange,fg=$bg]  ENT-SEARCH #[bg=$bg,fg=$orange]"
                mode_search "#[bg=$yellow,fg=$bg]  SEARCH #[bg=$bg,fg=$yellow]"
                mode_session "#[bg=$pink,fg=$bg]  SESSION #[bg=$bg,fg=$pink]"
                mode_resize "#[bg=$yellow,fg=$bg] 󰙕 RESIZE #[bg=$bg,fg=$yellow]"
                mode_rename_tab "#[bg=$yellow,fg=$bg] 󰑕 RENAME-TAB #[bg=$sel,fg=$yellow]"
                mode_rename_pane "#[bg=$yellow,fg=$bg] 󰑕 RENAME-PANE #[bg=$sel,fg=$yellow]"
                mode_move "#[bg=$yellow,fg=$bg] 󰆾 MOVE #[bg=$bg,fg=$yellow]"
                mode_prompt "#[bg=$pink,fg=$bg] PROMPT #[bg=$sel,fg=$pink]"
                mode_default_to_mode "locked"
                tab_normal "#[bg=$bg,fg=$com]#[bg=$sel,fg=$com]  {name}{floating_indicator}{fullscreen_indicator}{sync_indicator}#[bg=$bg,fg=$sel]"
                tab_normal_fullscreen "#[bg=$bg,fg=$com]#[bg=$sel,fg=$com]  {name}{floating_indicator} 󰊓 {sync_indicator}#[bg=$bg,fg=$sel]"
                tab_normal_sync "#[bg=$bg,fg=$com]#[bg=$sel,fg=$com]  {name}{floating_indicator}{fullscreen_indicator}  #[bg=$bg,fg=$sel]"
                tab_active "#[bg=$bg,fg=$orange]#[bg=$sel,fg=$orange,bold]   {name}{floating_indicator}{fullscreen_indicator}{sync_indicator}#[bg=$bg,fg=$sel]"
                tab_active_fullscreen "#[bg=$bg,fg=$orange]#[bg=$sel,fg=$orange,bold]   {name}{floating_indicator} 󰊓 {sync_indicator}#[bg=$bg,fg=$sel]"
                tab_active_sync "#[bg=$bg,fg=$orange]#[bg=$sel,fg=$orange,bold]   {name}{floating_indicator}{fullscreen_indicator}  #[bg=$bg,fg=$sel]"
                tab_separator "#[bg=$bg] "
                tab_floating_indicator " 󰉈 "
                tab_fullscreen_indicator " 󰊓 "
                tab_sync_indicator "  "
                tab_display_count "9"
                tab_truncate_start_format "#[fg=#FFD080]  +{count}  "
                tab_truncate_end_format "#[fg=#FFD080]   +{count} "
                notification_format_unread "#[bg=surface0,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[bg=$surface0,fg=$yellow]"
                notification_format_no_notifications ""
                notification_show_interval "10"
                command_host_command "uname -n"
                command_host_format "{stdout}"
                command_host_interval "0"
                command_host_rendermode "static"
                command_user_command "whoami"
                command_user_format "{stdout}"
                command_user_interval "10"
                command_user_rendermode "static"
                command_git_branch_command "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format "#[bg=$bg,fg=$purple] {stdout} "
                command_git_branch_interval "10"
                command_git_branch_rendermode "static"
                command_host_os_icon_command "sh -c \"echo $(uname -s | grep -qi 'darwin' && echo '󰀵')$(uname -s | grep -qi 'linux' && echo '')$(uname -s | grep -qi 'nt' && echo '󰖳')\""
                command_host_os_icon_format "{stdout}"
                command_host_os_icon_interval "0"
                command_host_os_icon_rendermode "static"
                datetime "{format}"
                datetime_format "%d-%m-%Y 󰅐 %H:%M"
                datetime_timezone "Asia/Kolkata"
            }
        }
    }
}
