// My configuration is tailored to work with terminal Emacs. My favored terminal
// emulators are Alacritty and Ghostty. The default Zellij binary provides most
// features that I need (including session restoration). I do not want to add
// flashy plugins without having a real need for it.
keybinds clear-defaults=true {
    // Conflicts with Emacs, so we use "Ctrl ]" which is difficult to bind in
    // terminal Emacs
    unbind "Ctrl g"
    locked {
        bind "Ctrl ]" {
            SwitchToMode "Normal"
        }
    }
    pane {
        bind "tab" {
            SwitchFocus
        }
        bind "x" {
            CloseFocus
            SwitchToMode "Locked"
        }
        bind "r" {
            SwitchToMode "RenamePane"
            PaneNameInput 0
        }
    }
    move {
        bind "Tab" {
            MovePane
        }
        bind "Left" {
            MovePane "Left"
        }
        bind "Down" {
            MovePane "Down"
        }
        bind "Up" {
            MovePane "Up"
        }
        bind "Right" {
            MovePane "Right"
        }
    }
    tab {
        bind "r" {
            SwitchToMode "RenameTab"
            TabNameInput 0
        }
        bind "n" {
            NewTab
            SwitchToMode "Locked"
        }
        bind "x" {
            CloseTab
            SwitchToMode "Locked"
        }
        bind "]" {
            BreakPaneLeft
            SwitchToMode "Locked"
        }
        bind "1" {
            GoToTab 1
            SwitchToMode "Locked"
        }
        bind "2" {
            GoToTab 2
            SwitchToMode "Locked"
        }
        bind "3" {
            GoToTab 3
            SwitchToMode "Locked"
        }
        bind "4" {
            GoToTab 4
            SwitchToMode "Locked"
        }
        bind "5" {
            GoToTab 5
            SwitchToMode "Locked"
        }
        // Having six tabs open seems a reasonable upper limit
        bind "6" {
            GoToTab 6
            SwitchToMode "Locked"
        }
        bind "tab" {
            ToggleTab
        }
    }
    scroll {
        bind "s" {
            SwitchToMode "EnterSearch"
            SearchInput 0
        }
    }
    search {
        bind "n" {
            Search "Down"
        }
        bind "p" {
            Search "Up"
        }
        bind "c" {
            SearchToggleOption "CaseSensitivity"
        }
        bind "w" {
            SearchToggleOption "Wrap"
        }
        bind "o" {
            SearchToggleOption "WholeWord"
        }
    }
    entersearch {
        bind "Esc" "Ctrl l" {
            SwitchToMode "Scroll"
        }
        bind "Enter" {
            SwitchToMode "Search"
        }
    }
    renametab {
        bind "Esc" {
            UndoRenameTab
            SwitchToMode "Tab"
        }
    }
    renamepane {
        bind "Esc" {
            UndoRenamePane
            SwitchToMode "Pane"
        }
    }
    session {
        bind "d" {
            Detach
        }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "Locked"
        }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "Locked"
        }
    }
    shared {
        bind "Shift Right" {
            GoToNextTab
        }
        bind "Shift Left" {
            GoToPreviousTab
        }
    }
    shared_except "locked" {
        bind "Ctrl ]" {
            SwitchToMode "Locked"
        }
        bind "Alt n" {
            NewPane
        }
        bind "Alt r" {
            // Split horizontally to the right
            NewPane "Right"
        }
        bind "Alt d" {
            // Split vertically
            NewPane "Down"
        }
        bind "Ctrl Shift ," {
            MoveTab "Left"
        }
        bind "Ctrl Shift ." {
            MoveTab "Right"
        }
        bind "Alt Left" {
            MoveFocus "Left"
        }
        bind "Alt Right" {
            MoveFocus "Right"
        }
        bind "Alt Down" {
            MoveFocus "Down"
        }
        bind "Alt Up" {
            MoveFocus "Up"
        }
        bind "Ctrl q" {
            LaunchOrFocusPlugin "zj-quit" {
                floating true
            }
            // Switch to locked mode so that keypresses are accepted
            SwitchToMode "Locked"
        }
        // Navigate between Zellij panes easily
        bind "Alt p" {
            LaunchOrFocusPlugin "zj-pane" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "Locked"
        }
        // Jump among tabs with searching
        bind "Alt b" {
            LaunchOrFocusPlugin "zj-buffers" {
                floating true
            }
            SwitchToMode "Locked"
        }
    }
    shared_except "pane" "locked" {
        bind "Ctrl p" {
            SwitchToMode "Pane"
        }
    }
    shared_except "search" "locked" {
        bind "Ctrl s" {
            SwitchToMode "Search"
        }
    }
    shared_except "scroll" "locked" {
        bind "Ctrl l" {
            SwitchToMode "Scroll"
        }
    }
    shared_except "session" "locked" {
        bind "Ctrl o" {
            SwitchToMode "Session"
        }
    }
    shared_except "tab" "locked" {
        bind "Ctrl t" {
            SwitchToMode "Tab"
        }
    }
    shared_except "move" "locked" {
        bind "Ctrl h" {
            SwitchToMode "Move"
        }
    }
    shared_except "locked" "search" "scroll" "renametab" "renamepane" "entersearch" {
        bind "Esc" {
            SwitchToMode "Locked"
        }
    }
    shared_among "pane" "move" "tab" "search" "scroll" "renametab" "renamepane" "session" {
        bind "Ctrl n" {
            SwitchToMode "Normal"
        }
    }
    // Avoids having to move to scroll mode first thereby reducing keystrokes
    shared_among "normal" "search" "scroll" {
        bind "Home" {
            ScrollToTop
        }
        bind "End" {
            ScrollToBottom
        }
        bind "Down" {
            ScrollDown
        }
        bind "Up" {
            ScrollUp
        }
        bind "PageDown" {
            PageScrollDown
        }
        bind "PageUp" {
            PageScrollUp
        }
        bind "Ctrl v" {
            HalfPageScrollDown
        }
        bind "Alt v" {
            HalfPageScrollUp
        }
    }
    shared_among "search" "scroll" {
        bind "Esc" {
            ScrollToBottom
            // I want to type something more often than not, so it makes sense
            // to switch to Locked mode instead of Normal.
            SwitchToMode "Locked"
        }
    }
}
// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    plugin-manager location="zellij:plugin-manager"
    // Confirm before quitting
    zj-quit location="file:$HOME/.local/share/zellij/plugins/zj-quit.wasm" {
        confirm_key "q"
        cancel_key "Esc"
    }
    // Convenient switching between several tabs with search capabilities
    zj-buffers location="file:$HOME/.local/share/zellij/plugins/zbuffers.wasm"
    // Navigate between Zellij panes easily
    zj-pane location="file:$HOME/.local/share/zellij/plugins/zj-pane.wasm"
}
// Plugins to load in the background when a new session starts
load_plugins {

}
default_shell "fish"
// theme "catppuccin-mocha"
default_layout "compact-many-tabs"
// Allows forwarding the key presses to terminal applications like Emacs.
default_mode "locked"
// Try a layout with "zellij --layout /path/layout".
layout_dir "/home/swarnendu/.config/zellij/layouts"
theme_dir "/home/swarnendu/.config/zellij/themes"
show_release_notes false
// When a session name is provided, attach to the named session if it is already
// running, create otherwise.
attach_to_session true
show_startup_tips false
ui {
    pane_frames {
        rounded_corners true
        hide_session_name false
    }
}

