// My configuration is tailored to work with terminal Emacs. My favored terminal
// emulators are Alacritty and Ghostty. The default Zellij binary provides most
// features that I need (including session restoration). I do not want to add
// flashy plugins without having a real need for it.
keybinds {
    // The default keybinding to switch modes conflicts with Emacs, so we use
    // either "Ctrl b" or "Ctrl ]". The latter is difficult to bind in terminal
    // Emacs and so is a safe choice for Zellij. "Ctrl ]" always either enters
    // Locked or exits to Locked mode. There are explicit "Ctrl"-based entry
    // points for each mode, and "Esc" exits to Normal.
    unbind "Ctrl g"
    locked {
        bind "Ctrl ]" {
            SwitchToMode "Normal"
        }
    }
    pane {
        bind "Tab" {
            SwitchFocus
        }
        bind "Shift Tab" {
            FocusPreviousPane
        }
        bind "x" {
            CloseFocus
        }
        bind "r" {
            SwitchToMode "RenamePane"
            PaneNameInput 0
        }
    }
    move {
        bind "Tab" {
            MovePane
        }
        bind "Shift Tab" {
            MovePaneBackwards
        }
        bind "Left" {
            MovePane "Left"
        }
        bind "Down" {
            MovePane "Down"
        }
        bind "Up" {
            MovePane "Up"
        }
        bind "Right" {
            MovePane "Right"
        }
    }
    tab {
        bind "r" {
            SwitchToMode "RenameTab"
            TabNameInput 0
        }
        bind "n" {
            NewTab
        }
        bind "x" {
            CloseTab
        }
        bind "[" {
            BreakPaneLeft
        }
        bind "]" {
            BreakPaneRight
        }
        bind "1" {
            GoToTab 1
        }
        bind "2" {
            GoToTab 2
        }
        bind "3" {
            GoToTab 3
        }
        bind "4" {
            GoToTab 4
        }
        bind "5" {
            GoToTab 5
        }
        bind "6" {
            GoToTab 6
        }
        bind "7" {
            GoToTab 7
        }
        bind "8" {
            GoToTab 8
        }
        bind "9" {
            GoToTab 9
        }
        bind "Tab" {
            ToggleTab
        }
        bind "s" {
            ToggleActiveSyncTab
        }
    }
    scroll {
        bind "Esc" {
            SwitchToMode "Normal"
        }
        bind "e" {
            EditScrollback
        }
        bind "s" {
            SwitchToMode "EnterSearch"
            SearchInput 0
        }
    }
    search {
        bind "Esc" {
            SwitchToMode "Normal"
        }
        bind "Ctrl s" "n" {
            Search "Down"
        }
        bind "Ctrl r" "p" {
            Search "Up"
        }
        bind "c" {
            SearchToggleOption "CaseSensitivity"
        }
        bind "w" {
            SearchToggleOption "Wrap"
        }
        bind "o" {
            SearchToggleOption "WholeWord"
        }
    }
    entersearch {
        bind "Esc" "Ctrl l" {
            SwitchToMode "Scroll"
        }
        bind "Enter" {
            SwitchToMode "Search"
        }
    }
    renametab {
        bind "Esc" {
            UndoRenameTab
            SwitchToMode "Tab"
        }
    }
    renamepane {
        bind "Esc" {
            UndoRenamePane
            SwitchToMode "Pane"
        }
    }
    session {
        bind "d" {
            Detach
        }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
        }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
        }
    }
    shared {
        bind "Shift Right" {
            GoToNextTab
        }
        bind "Shift Left" {
            GoToPreviousTab
        }
    }
    shared_except "locked" {
        bind "Alt n" {
            NewPane
        }
        bind "Alt r" {
            // Split horizontally to the right
            NewPane "Right"
        }
        bind "Alt d" {
            // Split vertically
            NewPane "Down"
        }
        bind "Ctrl Shift ," {
            MoveTab "Left"
        }
        bind "Ctrl Shift ." {
            MoveTab "Right"
        }
        // Move focus left if pane exists, otherwise go to previous tab
        bind "Alt Left" {
            MoveFocusOrTab "Left"
        }
        // Move focus right if pane exists, otherwise go to next tab
        bind "Alt Right" {
            MoveFocusOrTab "Right"
        }
        bind "Alt Down" {
            MoveFocus "Down"
        }
        bind "Alt Up" {
            MoveFocus "Up"
        }
        // Hide all UI elements except the active pane
        bind "Alt u" "Super enter" {
            ToggleFocusFullscreen
        }
        bind "Alt f" {
            ToggleFloatingPanes
        }
        bind "Alt i" {
            TogglePaneEmbedOrFloating
        }
        bind "Ctrl q" {
            LaunchOrFocusPlugin "zj-quit" {
                floating true
            }
        }
        // Navigate between Zellij panes easily
        bind "Alt p" {
            LaunchOrFocusPlugin "zj-pane" {
                floating true
                move_to_focused_tab true
            }
        }
        // Jump among tabs with searching. This may potentially be useful if
        // there are many tabs open and they overflow the screen.
        bind "Alt b" {
            LaunchOrFocusPlugin "zj-buffers" {
                floating true
            }
        }
        // https://tesar.tech/blog/2025-11-13_run_a_command_in_new_zellij_tab
        // Run commands in a new pane
        // bind "Ctrl z" {
        //     Run "lazygit" {
        //     }
        // }
        // Run commands in a new tab
        bind "Alt e" {
            NewTab {
                layout "emacs"
            }
        }
        bind "Alt g" {
            NewTab {
                layout "lazygit"
            }
        }
        bind "Alt l" {
            LaunchOrFocusPlugin "zellij:layout-picker" {
                floating true
            }
        }
    }
    shared_except "pane" "locked" {
        bind "Ctrl p" {
            SwitchToMode "Pane"
        }
    }
    shared_except "search" "locked" {
        bind "Ctrl s" {
            SwitchToMode "Search"
        }
    }
    shared_except "scroll" "locked" {
        bind "Ctrl l" {
            SwitchToMode "Scroll"
        }
    }
    shared_except "session" "locked" {
        bind "Ctrl o" {
            SwitchToMode "Session"
        }
    }
    shared_except "tab" "locked" {
        bind "Ctrl t" {
            SwitchToMode "Tab"
        }
    }
    shared_except "move" "locked" {
        bind "Ctrl h" {
            SwitchToMode "Move"
        }
    }
    shared_among "normal" "search" "scroll" "pane" "tab" "move" "session" "renametab" "renamepane" "entersearch" {
        bind "Ctrl ]" {
            SwitchToMode "Locked"
        }
    }
    shared_among "pane" "tab" "move" "session" {
        bind "Esc" {
            SwitchToMode "Normal"
        }
    }
    // Avoids having to move to scroll mode first thereby reducing keystrokes
    shared_among "normal" "search" "scroll" {
        bind "Home" {
            ScrollToTop
        }
        bind "End" {
            ScrollToBottom
        }
        bind "Down" {
            ScrollDown
        }
        bind "Up" {
            ScrollUp
        }
        bind "PageDown" {
            PageScrollDown
        }
        bind "PageUp" {
            PageScrollUp
        }
        bind "Ctrl v" {
            HalfPageScrollDown
        }
        bind "Alt v" {
            HalfPageScrollUp
        }
    }
}
// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    compact-bar location="zellij:compact-bar" {
        tooltip "F12"
    }
    session-manager location="zellij:session-manager"
    plugin-manager location="zellij:plugin-manager"
    // Confirm before quitting
    zj-quit location="file:$HOME/.local/share/zellij/plugins/zj-quit.wasm" {
        confirm_key "q"
        cancel_key "Esc"
    }
    // Convenient switching between several tabs with search capabilities
    zj-buffers location="file:$HOME/.local/share/zellij/plugins/zbuffers.wasm"
    // Navigate between Zellij panes easily
    zj-pane location="file:$HOME/.local/share/zellij/plugins/zj-pane.wasm"
    // Customize the status bar
    zj-status location="file:$HOME/.local/share/zellij/plugins/zjstatus.wasm"
}
// Plugins to load in the background when a new session starts
load_plugins {
    // Force load the compact-bar plugin which allows hover tooltips
    compact-bar
}
// I overwrite the status bar
simplified_ui true
default_shell "fish"
theme "dracula"
default_layout "rounded-dracula"
// Allows forwarding the key presses to terminal applications like Emacs.
default_mode "locked"
// Try a layout with "zellij --layout /path/layout".
layout_dir "/home/swarnendu/.config/zellij/layouts"
theme_dir "/home/swarnendu/.config/zellij/themes"
show_release_notes false
// When a session name is provided, attach to the named session if it is already
// running, create otherwise.
attach_to_session true
web_server false
show_startup_tips false
ui {
    pane_frames {
        // Looks nicer
        rounded_corners true
        // It is useful to see the session name
        hide_session_name false
    }
}
